
.button{
  border: 1px solid #ffe44d;
  border-radius: 5px;
  height: max-content;
  padding: 8px 12px;
  font-weight: 700;
  background-color: #ffe44d;
  align-self: flex-end;
  color:currentColor;

}

.button:focus {
  border: 1px solid #000;
}

.button:active {
    border: 1px solid #ccc;
    background: #fff;
}
/*
.btn {
	color: inherit;
	padding: 10px 18px;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	border-radius: 55px;
	text-decoration: none;
	display: inline-block;
	transition: background-color .3s;
}
*/
.primary {
	background-color: var(--main-color);
}
.primary:hover {
	background-color: var(--main-darker);
	color: #F44336;
}
.secondary {
	background-color: transparent;
}
.secondary:hover {
	color: #F44336;
}
