.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;

}

.title {
  color: #000000;
  margin: 24px 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  display: flex;
  align-items: center;
}