.banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 87px;
    border-radius: 20px;
     color:#ffffff;
     background-position: top right;
     background-size: contain;
     background-repeat: no-repeat;
     background:rgb(255, 143, 39);
  }
  
  .title {
    font-size: 2.61em;
    font-weight: 900;
    color: currentColor;
    line-height: 50px;
    margin-bottom: 24px;
  }
  
  .subtitle {
    font-size: 28px;
    color: currentColor;
    line-height: 32px;
  }

   
  .price {
    font-size: 28px;

    color: currentColor;
    line-height: 32px;
  }

  .banner_middle {
    font-size: 12px;
    width: 50%;
    min-height: 220px;
  }

  .banner_big {
    width: 100%;
    font-size: 18px;
    min-height: 260px;
  }